RewriteEngine On
RewriteRule (auth|database|src|vendor) - [F]
RewriteRule (chron.sh|composer.json|composer.lock|info.php) - [F]

#remove note on next line to restrict public access to run.php
#RewriteRule run.php - [F] 
